

*{
  background:"#F7F2EE";
  font-style: Nero Cafe M54 Custom Font !important;
  color: #4C3926 !important;
}

.swiper-slide {
  position: relative; /* Ensure the slide is positioned correctly */
  cursor: pointer !important;
}
.slide-overlay {
  opacity: 0;
}
.swiper-slide:hover .slide-overlay {
  opacity: 1; /* Show overlay on hover */
}